<footer class="footer" data-footer>
  <div class="footer__top">
    <div class="container footer__top-inner">
      <div class="footer__brand-block">
        <a class="footer__logo footer__logo--primary" href="./" aria-label="Centro de Idiomas">
          <img src="assets/img/logo-centro-idiomas.svg" alt="Centro de Idiomas">
        </a>
        <a class="footer__logo footer__logo--alt" href="https://www.unillanos.edu.co" target="_blank" rel="noopener">
          <img src="assets/img/logo-unillanos.svg" alt="Universidad de los Llanos">
        </a>
        <div class="footer__contact">
          <p class="footer__contact-title">Contáctanos</p>
          <ul class="footer__contact-list">
            <li><a href="mailto:centrodeidiomas@unillanos.edu.co">centrodeidiomas@unillanos.edu.co</a></li>
            <li><a href="tel:+576086312687">Tel. (608) 631 2687</a></li>
            <li><a href="https://api.whatsapp.com/send/?phone=573112004339&amp;text=Hola%2C+quisiera+m%C3%A1s+informaci%C3%B3n+sobre+el+Centro+de+Idiomas.&amp;type=phone_number&amp;app_absent=0" target="_blank" rel="noopener">WhatsApp: 311 200 4339</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__grid">
        <div class="footer__col">
          <h2 class="footer__heading">Horario de atención</h2>
          <p>Lunes a viernes de 7:00 a.m. a 7:00 p.m.<br>Sábados de 7:00 a.m. a 1:00 p.m.</p>
          <h2 class="footer__heading">Redes sociales</h2>
          <div class="footer__social">
            <a href="https://www.facebook.com/centrodeidiomasunillanos" target="_blank" rel="noopener" aria-label="Facebook"><span>Fb</span></a>
            <a href="https://www.youtube.com/@centrodeidiomasdependencia5670" target="_blank" rel="noopener" aria-label="YouTube"><span>Yt</span></a>
            <a href="https://api.whatsapp.com/send/?phone=573112004339&amp;text=Hola%2C+quisiera+m%C3%A1s+informaci%C3%B3n+sobre+el+Centro+de+Idiomas.&amp;type=phone_number&amp;app_absent=0" target="_blank" rel="noopener" aria-label="WhatsApp"><span>Wp</span></a>
          </div>
        </div>
        <div class="footer__col">
          <h2 class="footer__heading">Ubícanos</h2>
          <p>Carrera 32 Nº 41A-108 <br> Barrio La Grama, Villavicencio - Meta</p>
          <iframe class="footer__map" title="Centro de Idiomas - Mapa" src="https://maps.google.com/maps?q=centro%20de%20idiomas%20unillanos&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" loading="lazy"></iframe>
        </div>
        <div class="footer__col">
          <h2 class="footer__heading">Enlaces de interés</h2>
          <ul class="footer__links">
            <li><a href="./contacto/">Contáctanos</a></li>
            <li><a href="./normativa/">Normativa</a></li>
            <li><a href="./tramites/">Servicios y Trámites</a></li>
            <li><a href="./quienes-somos/">Quiénes Somos</a></li>
            <li><a href="./inscripciones/">Inscripciones</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h2 class="footer__heading">Políticas y documentación</h2>
          <ul class="footer__links">
            <li><a href="#!">Política de Privacidad y Términos</a></li>
            <li><a href="#!">Tratamiento de Datos Personales</a></li>
            <li><a href="#!">Estatuto de Propiedad Intelectual</a></li>
            <li><a href="#!">Lineamientos de Seguridad de la Información</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h2 class="footer__heading">Enlaces adicionales</h2>
          <ul class="footer__links">
            <li><a href="#!">Transparencia y Acceso a la Información</a></li>
            <li><a href="#!">Sistema PQRSFD</a></li>
            <li><a href="#!">Más información sobre la Universidad</a></li>
            <li><a href="#!">Sistema Integrado de Gestión (SIG)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__middle">
    <div class="container footer__middle-inner">
      <div class="footer__badges">
        <span class="footer__badge">Educación</span>
        <span class="footer__badge">Mineducación</span>
        <span class="footer__badge">Gobierno Digital</span>
        <span class="footer__badge">Colombia</span>
      </div>
      <div class="footer__campus">
        <div>
          <h3 class="footer__heading">Ubicaciones Universidad</h3>
          <ul class="footer__links footer__links--compact">
            <li>Campus Barcelona: Vía Puerto López Km 12</li>
            <li>Campus San Antonio: Calle 37 N.º 41-02 Barzal</li>
            <li>Campus Boquemonte: Kilómetro 2 Vía San Juan de Arama - Granada, Meta</li>
            <li>Edificio Emprende: Calle 40 A N.º 32-28 Emporio</li>
          </ul>
        </div>
        <div>
          <h3 class="footer__heading">Horarios Universidad</h3>
          <p>Lunes a viernes de 7:30 a.m. a 11:30 a.m. y de 2:00 p.m. a 5:30 p.m.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__bottom-inner">
      <p>&copy; Universidad de los Llanos 2025. Reservados todos los derechos.</p>
      <p>NIT: 892.000.379-5</p>
      <div class="footer__bottom-links">
        <a href="#!">Mapa del sitio</a>
        <a href="#!">Terminos de uso</a>
        <a href="#!">Accesibilidad</a>
      </div>
    </div>
  </div>
</footer>
